 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Babelli</title>



    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4216248160753400",
    enable_page_level_ads: true
  });
</script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Babelli Text Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4216248160753400"
     data-ad-slot="7811843355"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<meta name="google-site-verification" content="sNpwyBDOhRhIMml9H1b6QxNORBxjFS9MZiPAX79udio" />

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->


<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/input.css">

</head>

  <body><center>
    <div id="container">
      <div class="pagetitle">
          <h1><a href="http://babelli.copypastapublishing.com/">Search Babelli's Books</a></h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('submitted_form') }}"><br><br>
          <input type="text"  name="search">
          <input type="submit">
        </form>      </div>          </div>
</center>
{% block search_result %}
{% endblock %}

  </body>
  <div id="footer">
      <footer>
      <a href="http://www.copypastapublishing.com"  target="_blank">Copypasta Publishing</a><br><i>Babelli EBook Search</i> designed by Jordan Jones
     </footer></div>
</html>