{% extends "form.html" %}
{% block search_result %}
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
                <h1>{{query}}...  {{results|length}} results</h1>
					<div class="table">

						<div class="row header">
							<div class="cell">
								Title, Author, Download, Information
							</div>

						</div>
{% for each in results %}
						<div class="row">
							<div class="cell" data-title="Book">
								<h3>{{each.title}}</h3>by <i>{{each.author}}</i><a href="{{each.textlink}}" target="_blank"> .txt</a> or <a href="{{each.epublink}} " target="_blank">.epub</a>



								<a href="http://www.gutenberg.org/etext/{{each.bookid}}" target="_blank">Visit book's Gutenberg page</a>
							</div>


                        </div>


         {% endfor %}
					</div></div></div></div>
    {% endblock %}